<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="/js/dashboard.js"></script>
</head>
<body>
    <h1 id="welcome-user"></h1>
    <button id="logout-button">Logout</button>
    <div>
        <label for="add-category-input">Add category:</label>
        <input type="text" id="add-category-input">

        <button id="add-category-button">Add</button>
    </div>
    <div>
        <label for="task-name-input">Task name:</label>
        <input type="text" id="task-name-input">

        <label for="task-description-input">Task description:</label>
        <textarea id="task-description-input"></textarea>

        <label for="due-date-input">Due date:</label>
        <input type="date" id="due-date-input">

        <label for="category-select">Category:</label>
        <select id="category-select"></select>

        <button id="add-task-button">Add task</button>
    </div>
    <div id="task-display"></div>
</body>
</html>