<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="../public/js/app.js"></script>
</head>
<body>
    <div>
        <label for="category">Add category:</label>
        <input type="text" id="category">
    </div>
    <div>
        <label for="taskName">Task name:</label>
        <input type="text" id="taskName">

        <label for="taskDescription">Task description:</label>
        <textarea id="taskDescription"></textarea>

        <label for="dueDate">Due date:</label>
        <input type="date" id="dueDate">

        <button id="addTask">Add task</button>
    </div>
</body>
</html>